
header {
	height: 200px;
	width: 100%;
	position: fixed;
	background-color: Crimson;
	z-index: 5;
	top: 0;
}

#header {

}

#main {
	top: 200px;
	position: relative;
}

.header-button {
/*	padding-top: 20px;
	padding-bottom: 20px;*/
	height: 40px;
	padding: 10px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.quote-container {
	position: relative;
	height: 200px;
	width: 80%;
	background-color: green;
	margin-bottom: 40px;
	left: 20px;
	padding: 15px;
}

.quote-text {
	display: inline-block;
	margin-right: 20px;
}

.quote-author {
	display: inline-block;
	margin-right: 20px;
}

.quote-rating {
	display: inline-block;
	margin-right: 20px;
}

.rate-button {
	height: 50px;
	width: 50px;
	left: 30px;
	padding: 10px;
	position: relative;
}

.radio-container {
	height: 40px;
	width: 80%;
	display: inline;
	border: 3px solid blue;
	margin-left: 40px;
	position: relative;
}

.delete-button {
	display: inline-block;
	padding: 20px;
}